.video-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  max-width: 900px;
  margin: 0 auto;
}

.video-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 400px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.video-item {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Центрируем вертикально */
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  cursor: pointer;
}

.video-item:last-child {
  border-bottom: none;
}

.video-title {
  flex-grow: 1;
  margin-right: 10px;
}

.video-controls {
  display: flex;
  justify-content: center; /* Центрируем кнопки лайка и дизлайка по горизонтали */
  width: auto;
  margin-left: 20px; /* Добавляем отступ слева от контролов */
}

.current-date {
  margin-left: 20px; /* Увеличиваем отступ слева от даты */
  font-weight: bold; /* Жирный шрифт для даты */
  flex-shrink: 0; /* Запрещаем сжимать дату */
}

.reaction-btn {
  background-color: rgb(244, 239, 239);
  border: 2px solid #020202; 
  border-radius: 50%; 
  width: 40px; 
  height: 40px; 
  font-size: 16px; 
  color: #000000; 
  cursor: pointer; 
  transition: background-color 0.2s ease, transform 0.1s ease; 
  display: inline-flex; 
  align-items: center; 
  justify-content: center; 
}

.reaction-btn:first-of-type {
  margin-right: 10px; 
}

.reaction-btn:hover {
  background-color: #e0e0e0; 
  transform: scale(1.1); 
}

.reaction-btn.noactive {
  background-color: rgb(165, 16, 46); 
  color: rgb(0, 0, 0); 
  border: 2px solid rgb(165, 16, 46);
}

.reaction-btn.active {
  background-color: rgb(44, 199, 80); 
  color: rgb(0, 0, 0); 
  border: 2px solid rgb(44, 199, 80); 
}

.refresh-recommendations {
  margin-top: 20px;
}

.refresh-btn {
  padding: 10px 20px;
  background-color: #010101;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.refresh-btn:hover {
  background-color: #838588;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 100;
  max-width: 200px;
  width: auto;
  left: 30%;
  transform: translateX(-50%);
  top: 100%; 
  margin-top: 5px; 
  white-space: normal; 
}

.video-item:hover .tooltip {
  display: block; 
}

